@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@100..800&display=swap');


.anek-kannada {
  font-family: "Anek Kannada", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100 200 300 400 500 600 700 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Anek Kannada', sans-serif;
}

.landing {
    font-size: 1.5rem;
    font-weight: 300;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #EAF8D0;
    color: #000;
    border-bottom: solid 3px #F57A58;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto 15vw;
}

.container p {
    flex: 1.4;
}

.profile {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
}

.profile img {
    width: 20vw;
    height: auto;
    border-radius: 50%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.buttons img {
    width: 24px;
    height: 24px;
    margin: 4vh 10px;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10vh 15vw;
}

.projects h1 {
    font-size: 3rem;
    font-weight: 600;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5vh 5vw;
}

.info h2 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}

.info p {
    font-size: 1rem;
    font-weight: 400;
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 2vh 0;
}

.tags span {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 10px 0 0;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #F57A58;
    color: #fff;
}

.card img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 5px;
    padding: 5vh 5vw;
}

.card:hover {
    transition: transform 0.5s;
    background-color: #EAF8D0;
    cursor: pointer;
}

.footer {
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5vh 0;
}

/* responsive  */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        margin: auto 5vw;
    }

    .profile {
        margin: 5vh 0;
    }

    .profile img {
        width: 40vw;
    }

    .projects {
        padding: 5vh 5vw;
    }

    .card {
        flex-direction: column;
    }

    .info {
        padding: 0;
    }

    .info h2 {
        font-size: 1.5rem;
    }

    .info p {
        font-size: 0.8rem;
    }

    .tags {
        margin: 1vh 0;
    }

    .tags span {
        font-size: 0.8rem;
    }

    .card img {
        width: 80vw;
        height: 80vw;
    }
    
}
